<div class="window">
  <div #card class="card-wrap">
    <div class="card" [ngStyle]="cardStyle()">
      <div class="card-bg" [ngStyle]="cardBgTransform()">
        <div class="container">
          <div *ngIf="loading; else elseBlock">
            <mat-spinner></mat-spinner>
          </div>
          <ng-template #elseBlock>
            <img
              class="profile-img"
              src="https://www.shutterstock.com/image-vector/cute-cartoon-rubber-duck-vector-600nw-2276837591.jpg"
            />
            <div class="profile-container" [formGroup]="userForm">
              <div class="details">
                <div class="title">Username:</div>
                <div class="content">{{ username }}</div>
                <div class="title">Pseudo:</div>
                <div class="content">{{ pseudo }}</div>
                <div class="title">Email:</div>
                <div class="content">{{ email }}</div>
                <div class="title">Password:</div>
                <div class="content">{{ password }}</div>
                <div class="title">Highscore:</div>
                <div class="content">{{ highscore }}</div>
                <div class="title">Games Played:</div>
                <div class="content">{{ gamesplayed }}</div>
              </div>
              <div class="modify-details"></div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
