<div class="container">
    <div class="profile-container">
        <img src="https://www.shutterstock.com/image-vector/cute-cartoon-rubber-duck-vector-600nw-2276837591.jpg" alt="rubber-ducky" class="profile-img">
        <div class="details">
            <div>Username</div>
            <div>Pseudo</div>
            <div>Email</div>
            <div>Password</div>
            <div>Highscore</div>
            <div>Time Played</div>
        </div>
        <div class="modify-details">
            
        </div>
    </div>
</div>