<div class="login-form-container">
    <div class="login-form">
        <div style="width: fit-content">
            <div class="label-input">
                <label for="email">email: </label>
                <input type="text" name="email" id="email">
            </div>
            <div class="label-input">
                <label for="name">name: </label>
                <input type="text" name="name" id="name">
            </div>
            <div class="label-input">
                <label for="password">password: </label>
                <input type="text" name="password" id="password">
            </div>
        </div>
    </div>
</div>
