<div
  style="
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: whitesmoke;
  "
>
  <h1
    style="
      margin: 16px;
      font-size: xx-large;
      cursor: pointer;
      font-style: bold;
      font-family: Rubik;
    "
    routerLink="/home"
  >
    PLATONICUS
  </h1>
  <nav style="display: flex; justify-content: center">
    <div routerLink="/home">Home</div>
    <div routerLink="/profile">Profile</div>
    <div routerLink="/leaderboard">Leaderboard</div>
    <div routerLink="/settings">Clicker-Game</div>
  </nav>
  <div class="header-buttons-container">
    <button mat-raised-button color="primary" routerLink="/login">
      <span class="material-icons-outlined">person</span>{{ login_button_text }}
    </button>
  </div>
</div>
