.leaderboardList:nth-child(even) {
  background-color: #f2f2f2;
}

.leaderboardTable {
  width: 100%;
}

.leaderboardList {
  height: 3em;

  font-family: Rubik;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}
