.mainPageCtn {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

app-header {
  background-color: black;
  color: white;
  height: 10vh;
}

app-body {
  background-color: whitesmoke;
  height: 90vh;
}
